
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: #004C4C;
    font-family: Arial, Helvetica, sans-serif;
    color: #B2D8D8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: #006666;
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    padding-bottom: 8px;
}

.hr {
    display: flex;
    gap: 18px;
}

a {
    color: #B2D8D8;
    text-decoration: none;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.cl {
    display: flex;
    flex-direction: column;
}

.form_search {
    display: flex;
}

.form1 {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.form2 {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.footer {
    background-color: #006666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f_copyright p {
    margin-bottom: 8px;
}

.f_art24 p {
    margin-top: 8px;
}

.login_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
    max-width: 400px;
    padding: 16px;
    box-sizing: border-box;
}

.lc_text {
    display: flex;
    align-self: center;
}

.form_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_login input {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.form_login input[type="submit"] {
    background-color: #008080;
    color: #B2D8D8;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Effetto transizione */
}

.form_login input[type="submit"]:hover {
    background-color: #006666;
}

.lc_bot {
    display: flex;
    flex-direction: column;
}

.lc_bot a {
    align-self: center;
}

hr {
    border: none; /* Rimuove il bordo predefinito */
    height: 1px; /* Altezza della linea */
    background-color: #B2D8D8;
    margin: 20px 0; /* Spaziatura sopra e sotto la linea */
}

.lc_bot_register {
    display: flex;
    align-self: center;
    align-items: center;
}

.lc_bot_register p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.lc_bot_register a {
    padding-left: 6px;
}

.recap_prenotazioni {
    background-color: #008080;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
    max-width: 600px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 30px;
}

.info_prenotazione {
    display: flex;
    flex-direction: column;
    background-color: #66B2B2;
    margin-bottom: 16px;
    padding: 8px;
}

.info_button {
    display: flex;
    justify-content: space-evenly;
    padding-top: 8px;
    padding-bottom: 8px;
}